<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHotelOperations" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHotelOperations" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/HotelService/HotelOperations/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHotelOperations"
                contract="HotelServiceReference.IHotelOperations" name="BasicHttpBinding_IHotelOperations" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/HotelService/HotelOperations/ws"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHotelOperations"
                contract="HotelServiceReference.IHotelOperations" name="WSHttpBinding_IHotelOperations">
                <identity>
                    <userPrincipalName value="asood@internal.tavisca.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>